
:root {
    --text-color: #333;
    --background-color: #fff;
}

[data-theme="dark"] {
    --text-color: #fff;
    --background-color: #333;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

textarea {
    width: 100%;
    height: 300px;
    padding-top: 10px;
}

footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}


#sdkLoading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #000000;
}

#loaderContainer {
    background-color: rgba(241, 193, 0, 0.8);
    width: 100%;
    height: 30px;
}

.loadSuccess {
    background-color: rgba(12, 112, 3, 0.8);
    width: 100%;
    height: 30px; 
}

.tab-title {
    font-size: 30px;
    font-weight: bold;
}
